body
{
    background: black;
    
}

.navbar.scrolled{
    background: black;
    transition: background 200ms;
}

h5{
    font-weight: 200;
    color: white;
    font-size: medium;
    font-family: 'Spartan', sans-serif;
    line-height: 1.5rem;     
    
}

@media (max-width:1200px)
{
    h5{
        font-weight: 100;
        font-size: .8rem;
    }
    
    
}