body
{
    background: black;
    
}

.navbar.scrolled{
    background: black;
    transition: background 200ms;
}

/* /testimonial */

.testimonial .testimonial-info-box {
    margin: 50px 0 0;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 70px 20px 20px;
    text-align: center;
    background: #fff;
}

.testimonial .testimonial-info-box .profile-user {
    position: absolute;
    left: 0;
    top: -50px;
    width: 100%;
}

.testimonial .testimonial-info-box .avatar{
    max-width: 100px!important;
    margin: 0 auto;
}

.testimonial .testimonial-info-box .avatar img{
    width: 100%;
    border-radius: 100px;
}

.testimonial .testimonial-info-box h5 {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 18px;
}

.testimonial .testimonial-info-box p{
    font-size: 14px;
}

.testimonial .testimonial-info-box h6 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}

/** Testimonial 2 start **/
.testimonial-2{
    background: #f9f9f8;
    background: rgba(0, 0, 0, 0.04) url(s1.png) top left repeat;
    z-index: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* .testimonial-2:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: inherit;
} */
/* 
.testimonial-2 h1 {
    color: #353535;
    opacity: 1;
} */

.testimonial-2 .main-title p {
    color: #535353;
    opacity: 1;
}

.testimonial-2 .main-title{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

/* /end of testimonial */
/* .bg-grea-3{
    background: #f9f9f8;
} */
/* .slick-slider-area {
    position: relative;
} */

.content-area-5 {
    padding: 100px 0;
}
@media (max-width: 992px) {
    .content-area-5 {
        padding: 80px 0;
    }
}





.nav-item .scrolled{
    background-color: black;

}


h1{
    color: white;
    font-weight: 300;
}

h5{
    font-weight: 200;
    color: white;
    font-size: medium;
    font-family: 'Spartan', sans-serif;
    line-height: 1.6rem;     
    
}

@include media-breakpoint-up(sm) {
    html {
      font-size: .6rem;
    }
  }
.jumbotron
{
    background-image: url(jtt.jpg);
    background-repeat: no-repeat;
    background-size: 1300px 700px;
}

@media only screen and (max-width: 767px) {

    .container{
        width: 80%;
    }
    h1 {
       font-size: 2.2em;
       font-weight: 300;
    }
 
    h5 {
       font-size: .8em;
       line-height: 1.4rem;  
       padding-left: inherit;
       text-align: left;
    }
 
 }